<!--             <input type="text" name="attributes[dob]" id="dob" placeholder="YYYY/MM/DD">
                <br> -->
<!-- <label for="Years">Year:</label>
    
    <select class="dob" name="Years" id="Years">
        {% for year in (1920..2020) %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    
    </select>
    <label for="Months">Month:</label>
    
    <select class="dob" name="Months" id="Months">
        {% for month in (1..12) %}
        <option value="{{ month }}">{{ month }}</option>
        {% endfor %}
    
    </select>
    
    <label for="Days">Day:</label>
    
    <select class="dob" name="Days" id="Days">
        {% for day in (1..31) %}
        <option value="{{ day }}">{{ day }}</option>
        {% endfor %}
    
    </select> -->